# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other folders
/*
!/DotNet Torque Empty DLL
/DotNet Torque Empty DLL/*
!/DotNet Torque Empty DLL/Tools
!/README.md
!/DNT-Compiler.exe